.StudentList {
  display: flex;
  margin-top: 25px;
}
.studentCard a {
  display: flex;
  width: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
}

.studentCard {
  width: 100%;
}

.studentHead {
  display: flex;
  width: 100%;
  text-align: center;

  margin-top: 20px;
}

.nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.btn {
  margin-top: 14px;
}

.signUp {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.signUpPage {
  display: flex;
  justify-content: center;
}

.signUpForm {
  margin-bottom: 20px;
  width: 50%;
  margin-top: 100px;
}
.signUpButton {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.login {
  display: flex;
  justify-content: center;
}

.loginPage {
  display: flex;
  justify-content: center;
}

.loginForm {
  width: 50%;
  margin-top: 100px;
}

.loginButton {
  display: flex;
  justify-content: center;
}

.addStudentPage {
  display: flex;
  justify-content: center;
}

.addStudentForm {
  width: 50%;
}

.addStudentHead {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.editStudentPage {
  display: flex;
  justify-content: center;
}

.editStudentForm {
  width: 50%;
}

.editStudentHead {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.submitNewStudent {
  display: flex;
  justify-content: center;
}

.card-panel {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.deleteButton {
  margin-left: 15px;
}

.submitAndDeleteButton {
  display: flex;
  justify-content: space-evenly;
}

.searchGrade {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
